<nav class="navbar navbar-dark bg-primary navbar-expand-lg bg-body-black" >
  <div class="container-fluid">
    <a class="navbar-brand text-black" href="#">BeerMe</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-black" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="/posts">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="/posts/new">Creat New Post</a>
        </li>
      </ul>
    </div>
    <div class="navbar-nav ml-auto">
      <% if (!currentUser) {%>
      <a href="/login" class="nav-link text-black">Login</a>
      <a href="/register" class="nav-link text-black">Register</a>
      <% }else{ %>
      <a href="/logout" class="nav-link text-black">Logout</a>
      <% } %>
    </div>
  </div>
</nav>
