<% layout('layouts/boilerplate') %>
<h1 class='text-primary'>About</h1>
<a href="https://www.ron-gibson.com/">My Portfolio</a>
<h2 class="text-secondary">Credits</h2>
<img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzk0ZTJkNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik05IDIxaDZhMSAxIDAgMCAwIDEtMXYtMy42MjVjMC0xLjM5Ny4yOS0yLjc3NS44NDUtNC4wMjVsLjMxLS43QzE3LjcxMSAxMC40IDE4IDkuMzk3IDE4IDhWNGExIDEgMCAwIDAtMS0xSDdhMSAxIDAgMCAwLTEgMXY0YzAgMS4zOTcuMjkgMi40Ljg0NSAzLjY1bC4zMS43QTkuOSA5LjkgMCAwIDEgOCAxNi4zNzVWMjBhMSAxIDAgMCAwIDEgMU02IDhoMTIiLz48L3N2Zz4=" alt="beer glass icon">
<a href="https://github.com/tabler/tabler-icons">Creators of icon</a>
<img class="img-thumbnail" src="https://images.unsplash.com/photo-1571613316887-6f8d5cbf7ef7?ixid=M3w3MTMwMzV8MHwxfGFsbHx8fHx8fHx8fDE3NDA0MjAzMjd8&ixlib=rb-4.0.3" alt="closup picture of beer in glass">
<a href="https://unsplash.com/@timothycdykes">Creator of background image</a>
<a href="https://getbootstrap.com/">Powered by bootstrap</a>
